body {
	background-color: rgb(241, 241, 241);
	width:100%;
}

.hero-blog {
	background-image:url(./images/blog-header.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	width:100%;
	min-width:100%;
	height:70vh;
	// max-width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	div {
		h1 {
			font-size:2.5rem;
			color:white;
			border:3px solid white;
			padding:20px;
			letter-spacing: 15px;
		}
	}
}
.should-be-one {
	width:90%;
	z-index: 2;
	background:white;
	margin:0 auto;
	margin-top:-15%;
	position:relative;
	box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
	h3 {
		text-align:center;
		font-weight: 400;
		font-style: italic;
	}
	a {
		color:black;
		text-align:center;
		display:block;
		h2 {
			padding-top:2rem;
			font-weight:400;
			text-transform:uppercase;
			transition: color 0.3s ease;
			&:hover {
				color:rgba(196, 149, 62, 0.8);
			}
		}
	}
	p {
		padding:0 2rem;
	}
	p:last-of-type{
		padding-bottom:3rem;
	}
	// :first-child { 
	// 	:first-letter { 
 //    	font-size: 200%;
 //    	color: #8A2BE2;
 //    	}
	// }
	section{
		p{
			margin:0 auto;
			img{
				max-width:100%;
				position:relative; 
				z-index: 1;
			}
		}
	}

}

.blog-container {
	width:100%;
	margin:0 auto;
	max-width:1200px;
	display:flex;
	.blog{
		display:flex;
	}
}

.blog-image-option {
	margin:0 auto;
	padding-top:5rem;
	img {
		height:auto;
	}
}

hr {
  border: 0;
  height: 1px;
  width: 20%;
  position: relative;
  margin: 30px auto;
	 &.center-diamond{
    background: black;
	}
    &:before{
      content: "";
      width: 6px;
      height: 6px;
      background: black;
      display: inline-block;
      border: 2px solid black;
      position: absolute;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
    }
}
