footer {
	background:rgb(34, 34, 34);
	.container{
	clear: both;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
		p{
			color:rgb(241, 241, 241);
			margin:0px;
			font-weight:normal;
			font-size:1rem;
			letter-spacing:1px;
			&:first-of-type{
				margin:2.5rem 0;
				letter-spacing:2px;
				font-size:0.9rem;
				font-family: 'Montserrat', sans-serif;
			}
		}
	}
}


	li {
		a {
			.fa {
				margin-bottom:3rem;
			}
		}
	}
